@model List<PizzaViewModel>
<h2>List of pizzas:</h2>
<br />
<div class="card-container">

@foreach(var pizza in @Model)
{
    <div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@pizza.Name</h5>
                <p class="card-text">@pizza.Price</p>
            </div>
            <br />
        </div>
    </div>
}
</div>